a {
    text-decoration: none;
    color: #a0553e;
}

a:hover {
    color: #c87c64;
}

.detailLink {
    font-size: 0.6rem;
}

.bg-light-gray {
    background-color: #EDEBE9;
}

.bookCard:hover {
    box-shadow: 0px 0px 15px 5px rgba(224, 175, 160, 0.6);
}
